*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    background-color: #FFFFFF;
}
.container {
    width: 85%;
    margin: 0 auto;
}
#hero, #note, #brain, #ready {
    margin-bottom: 80px;
}

/* header-section code start  */
#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}
#nav-bar img {
    width: 130px;
}
ul {
    display: flex;
    align-items: center;
    gap: 40px;
}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: #000000;
    line-height: 152%;
}
.nav-btn button {
    background-color: #469165;
    cursor: pointer;
    font-weight: 700;
    padding: 12px 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    transition: 0.5S;
}
.nav-btn button:hover {
    background-color: #E5E7EB;
    color: #000000;
}
.hero-btn button {
    transition: 0.5s;
}
.hero-btn button:hover {
    background-color: #E5E7EB;
    color: #000000;
}
.btn:hover {
    background-color: #141311;
    color: #e3d6d6;
}



/* hero section code start  */

#hero {
    background-image: url(./images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
#hero-contant {
    text-align: center;
    padding-top: 200px;
}
#hero-contant h6 {
    background-color: #FFFFFF;
    font-size: 16px;
    width: 300px;
    display: inline;
    color: #469165;
    border-radius: 100px;
    padding: 2px 4px;
    margin-bottom: 20px;
}
#hero-contant h6 i {
    color: #469165;
}
#hero-contant  h1 {
    margin-top: 10px;
    font-size: 72px;
    color: #FFFFFF;
}
#hero-contant p{
    margin-bottom: 10px;
    color: #FFFFFF;
}
.hero-btn button {
    background-color: #469165;
    color: #FFFFFF;
    padding: 12px 16px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    border-radius: 4px;
}

/* notes section code start  */
.note-heading h2 {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}
.note-heading p {
    color: #627382;
    line-height: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.note-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.note-box {
    width: 320px;
    background-color: #FFFFFF;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    height: 250px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}
.note-box h2 {
    font-size: 24px;
    font-weight: 700;
}
.note-box p {
    color: #627382;
}
.box-img {
    background-color: #ff5a5a;
    width: 60px;
    height: 60px;
    list-style: 1.7;
    border-radius: 50%;
    display: inline-block;
}
.box-img img {
   padding-top: 15px;
    width: 26px;
    color: #FAFAFA;
}
.note-box p i {
    color: #efe7e7;
    width: 40px;
    padding-top: 20px;
}
.note-box *{
    margin-bottom: 15px;
}

/* Brain section code start  */

.brain-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.brain-img img {
    width: 600px;
    border-radius: 12px;
}
.brain-contant h2 {
    font-size: 48px;
    color: #001931;
    font-weight: bold;
    margin-bottom: 20px;
}
.brain-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

/* Ready section code start  */

#ready {
    background-color: #F7F6F2;
    padding: 80px;
    border-radius: 12px;
}
.ready-contant {
    text-align: center;
}
.ready-contant h2 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 15px;
}
.ready-contant p {
    color: #627382;
    line-height: 24px;
    margin-bottom: 15px;
}

/* foter section code hare  */

#foter {
    background-color: #001931;
}
#foter-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 80px;
}
.foter-img img {
    width: 130px;
}
.foter-icon h3 {
    color: #FFFFFF;
    line-height: 28px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.foter-icon i {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
}
.foter-icon i {

    color: black;
    font-size: 11px;
    padding-top: 6px;  
}

#copy-right {
    border-top: 1px solid #E5E7EB;
    text-align: center;
    padding-bottom: 15px;
    color: #FAFAFA;
    line-height: 24px;
    padding-top: 30px;
}

.hide {
    display: none;
}

/* the code section is closed  */

/* responsive  */

@media screen and (max-width:1200px){
    .note-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}
@media screen and (max-width:1024px){
    ul {
        display: none;
    }
    .container {
        width: 95%;
        margin: 0 auto;
    }
    #hero-contant {
    padding-top: 100px;
}
#hero-contant  h1 {
    font-size: 50px;

}
/* .note-parent {
    display: flex;
    flex-direction: column;
} */
}
.brain-parent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.brain-img img {
    width: 500px;
}
.brain-contant {
    text-align: center;
}
.brain-list {
    padding-left: 50px;
}
@media screen and (max-width:690px){
      .container {
        width: 98%;
        margin: 0 auto;
    }
    #nav-bar img {
    width: 100px;
}
.nav-btn button {
    background-color: #469165;
    font-weight: 400;
    padding: 8px 12px;
   
}
#hero-contant  h1 {
    font-size: 40px;
    margin-bottom: 20px;

}
.btn {
    display: none;
}
.hero-btn button {
    margin-top: 20px;
}
.note-parent {
    display: flex;
    flex-direction: column;
}
.note-box {
    width: 100%;
}
.note-heading h2 {
    font-size: 26px;
}
.note-heading p {
    font-size: 15px;
    padding: 0px 30px;
}
.brain-img img {
    width: 100%;
}
.brain-contant h2 {
    font-size: 24px;
}
.brain-list {
    padding-left: 10px;
}
.brain-list p {
    font-size:12px;
}
.brain-list {
    gap: 4px;
}
#brain-p {
    font-size: 12px;
    padding: 0px 30px;
}
#brain {
    margin-bottom: 40px;
}
#ready {
    background-color: #F7F6F2;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 40px;
}
#foter-parent{
    padding-top: 30px;
    padding-bottom: 40px;
}
.foter-img img {
    width: 90px;
    margin-left: 10px;
}
.foter-icon {
    margin-right: 20px;
}
.foter-icon h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
#copy-right {
    border-top: 1px solid #E5E7EB;
    text-align: center;
    padding-top: 15px;
    font-size: 13px;
}

}